install-data/nodered/data/flows.json
[{"id":"af20b1ac.93d3","type":"tab","label":"rd1_esp_serial","disabled":false,"info":""},{"id":"a4dda663.9fda28","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0a31c80.0758f","type":"inject","z":"af20b1ac.93d3","name":"","topic":"node","payload":"{\"id\": 123456, \"k\":\"o\", \"c\": false,\"t\":4}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":99,"wires":[["ec147cae.fc40e"]]},{"id":"4c6c7612.a64808","type":"mqtt out","z":"af20b1ac.93d3","name":"","topic":"node","qos":"","retain":"","broker":"a4dda663.9fda28","x":390,"y":300,"wires":[]},{"id":"ec147cae.fc40e","type":"function","z":"af20b1ac.93d3","name":"","func":"let res = {}\n\nres.payload = {}\n\nres.payload.id = msg.payload.id\nres.payload.kind = msg.payload.kind === \"o\" ? \"Outlet\" : \"Switch\"\nres.payload.currentState = msg.payload.c\nres.payload.lastUpdated = msg.payload.t\n\nreturn res;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["4c6c7612.a64808"]]},{"id":"c498d46e.a97768","type":"inject","z":"af20b1ac.93d3","name":"","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["5c350647.a626d8"]]},{"id":"5c350647.a626d8","type":"mqtt out","z":"af20b1ac.93d3","name":"","topic":"test","qos":"","retain":"","broker":"a4dda663.9fda28","x":130,"y":420,"wires":[]},{"id":"8d3db580.e4c0c8","type":"mqtt in","z":"af20b1ac.93d3","name":"","topic":"rpi","qos":"2","datatype":"auto","broker":"a4dda663.9fda28","x":100,"y":500,"wires":[["e7a98e3b.004dd"]]},{"id":"e7a98e3b.004dd","type":"debug","z":"af20b1ac.93d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":500,"wires":[]},{"id":"33f7fac6.5f3ea6","type":"comment","z":"af20b1ac.93d3","name":"","info":"test\n","x":100,"y":580,"wires":[]}]